*.xml
*.iml
*.log
*.apk

*.iml

.idea/
xls/
fodder/

./client/.idea/
./client/.laya/
./client/bin/
./client/libs/
./client/release/
./client/wxminibyscr/

./server/.idea/
./server/.laya/
./server/bin/
./server/libs/
./server/release/
./server/wxminibyscr/
